/* =========================
   Minimal CSS Reset
========================= */
*,
*::before,
*::after { box-sizing: border-box; }

html:focus-within { scroll-behavior: smooth; }

body {
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select { font: inherit; }

button {
  cursor: pointer;
  background: none;
  border: none;
}

p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }

ul, ol { margin: 0; padding: 0; }

textarea { resize: vertical; }

a { text-decoration: none; color: inherit; }
